<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create a New Student Page</title>
</head>
<body>
<header>
    <h1>Edit Course</h1>
</header>
<section>
    <form  action="/courses/add/course"  method="post">
        <input type="hidden" name="courseID">
        <label for='name'>Name:</label> <input id='name' type='text' name='name'/><br/>
        <label for='description'>Description:</label><input id='description' type='text' name='description'/><br/>
        <br>
        Please select a teacher:
        <div th:each="teacherr : ${teachers}" >
            <input name="teacherID" th:id= "teach" th:value="${teacherr.id}" type="radio" th:text="${teacherr.name}+' '+${teacherr.surname}" required>
        </div>
        <br>
        Select a type:
        <div>
            <input type="radio" name="tip" th:value="0" th:text="MANDATORY">
            <input type="radio" name="tip" th:value="1" th:text="OPTIONAL">
        </div>
        <input type='submit' value='Submit'/>
    </form>
</section>
</body>
</html>