<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>

    <form  action="/CreateStudent"  method="get">
        <input type="hidden" name="courseID" th:value="${courseID}">
        <button type='submit'>Create New Student</button>
    </form>

    <form  action="/StudentEnrollmentSummary"  method="get">
        <input type="hidden" name="courseID" th:value="${courseID}">
    <div th:each="student : ${students}">
        <input name="studentID" th:value="${student.username}" type="radio" th:text="${student.name}+' '+${student.surname}" required></div>
        </div>
    <br/>

        <button type="submit" class="btn btn-default" > Submit </button>
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${courseID}"></td>
        </tr>
    </table>
</aside>

</body>
</html>